apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: {{ (keep_same_vm_name | default(true) | bool) | ternary(base_name, base_name ~ '-dr') }}
  namespace: {{ ns }}
  labels:
    "dr/managed": "true"
spec:
  running: {{ 'true' if (start_on_restore | default(true)) else 'false' }}
  {{ src_vm.spec.template }}

