{
  "apiVersion": "kubevirt.io/v1",
  "kind": "VirtualMachine",
  "metadata": {
    "name": "{{ item.item.name }}",
    "namespace": "{{ item.item.namespace }}",
    "labels": {
      "dr/managed": "true"
    }
  },
  "spec": {
    "runStrategy": "Halted",
    "dataVolumeTemplates": {{ item.resources[0].spec.dataVolumeTemplates | ansible.utils.remove_keys(target=['creationTimestamp']) }},
    {% if item.resources[0].spec.preference is defined %}"preference": {{ item.resources[0].spec.preference }}, {% endif %}
    "template": {{ item.resources[0].spec.template | ansible.utils.remove_keys(target=['creationTimestamp','cloudInitNoCloud']) }}
  }
}
