apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: rs-{{ item.metadata.name }}
  namespace: {{ item.metadata.namespace }}
  labels:
    "dr/managed": "true"
spec:
  sourcePVC: {{ item.metadata.name }}
  trigger:
    schedule: "{{ rs_schedule }}"
  rsyncTLS:
    volumeSnapshotClassName: {{ src_snapshot_class }}
    storageClassName: {{ src_storage_class }}
    copyMethod: {{ copy_method }}
    keySecret: {{ volsync_tls_secret_name }}
    address: {{ rd_address_map[item.metadata.name] }}
