apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: rs-{{ item.item.0.metadata.name }}
  namespace: {{ item.item.0.metadata.namespace }}
  labels:
    "dr/managed": "true"
spec:
  sourcePVC: {{ item.item.0.metadata.name }}
  trigger:
    schedule: "{{ rs_schedule }}"
  rsyncTLS:
    volumeSnapshotClassName: {{ src_snapshot_class }}
    storageClassName: {{ src_snapshot_class }}
    copyMethod: {{ copy_method }}
    keySecret: {{ volsync_tls_secret_name }}
    address: {{ item.resources.0.status.rsyncTLS.address }}
