apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: rd-{{ pvc.metadata.name }}
  namespace: {{ pvc.metadata.namespace }}
  labels:
    {{ label_key }}: "{{ label_val }}"
spec:
  rsyncTLS:
    copyMethod: {{ copy_method }}
    destinationPVC: {{ pvc.metadata.name }}-dst
    storageClassName: {{ dest_storage_class }}
    keySecret: {{ volsync_tls_secret_name }}    
    {% if copy_method == 'Snapshot' %}volumeSnapshotClassName: {{ dest_snapshot_class }}{% endif %}
    serviceType: LoadBalancer
    accessModes: {{ pvc.spec.accessModes }}
